@import "compass/css3";

body {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 300px 0;
  padding: 40px 20px 0 20px;
}
.sidebar
{
  background: #e6e6e6;
  padding: 30px;
  width: 250px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
}
.button-group a
{
display: block;
}
